* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== NAVBAR ===== */
img {
  cursor: pointer;
}

.flex-div {
   display: flex;
    align-items: center;
}

nav {
  padding: 10px 2%; 
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right  img{
width: 25px;
margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;

}

.nav-middle .search-box {
border: 1px solid #ccc;
margin-right: 15px;
padding: 8px 12px;
border-radius: 25px;
}


.nav-middle .search-box input {
width: 400px;
border: 0;
outline: 0;
background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}

/* ===== PAGE ===== */
.library-page {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    margin-top: 10px;
    background: #f9f9f9;
}

/* LEFT */
.library-left {
    flex: 2;
}

.library-left h2 {
    margin-bottom: 20px;
    margin-top: 0;
}

.library-item {
    display: flex;
    gap: 15px;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.library-item img {
    width: 120px;
    border-radius: 6px;
}

.library-item p {
    font-size: 13px;
    color: #666;
}

/* RIGHT */
.library-right {
  font-size: large;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
}

.card p {
    padding: 6px 0;
    cursor: pointer;
}

.card p:hover {
    color: red;
}