/* NAVBAR */
img {
  cursor: pointer;
}

.flex-div {
   display: flex;
    align-items: center;
}

nav {
  padding: 10px 2%; 
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right  img{
width: 25px;
margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;

}

.nav-middle .search-box {
border: 1px solid #ccc;
margin-right: 15px;
padding: 8px 12px;
border-radius: 25px;
}


.nav-middle .search-box input {
width: 400px;
border: 0;
outline: 0;
background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f9f9f9;
}

/* PAGE */
.pulse-page{
    margin-top: 10px;
    padding:30px;
}

/* HEADER */
.pulse-header{
    margin-bottom:25px;
}
.pulse-header p{
    color:#666;
    font-size:14px;
}

/* STATS */
.pulse-stats{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.stat-card{
    background:#fff;
    padding:20px;
    border-radius:10px;
}
.stat-card h4{
    margin-bottom:8px;
}
.stat-card span{
    font-size:22px;
    font-weight:bold;
    color:red;
}

/* MAIN */
.pulse-main{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;
}

/* LEFT */
.pulse-left h3{
    margin-bottom:15px;
}

.creator-card{
    background:#fff;
    padding:12px;
    border-radius:8px;
    margin-bottom:10px;
    cursor:pointer;
}
.creator-card small{
    color:#666;
}

.activity{
    background:#fff;
    padding:10px;
    border-radius:6px;
    margin-bottom:8px;
    font-size:14px;
}

/* RIGHT */
.pulse-right{
    background:#fff;
    padding:20px;
    border-radius:10px;
}

.pulse-btn{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:none;
    border-radius:20px;
    background:black;
    color:white;
    cursor:pointer;
}
.pulse-btn.yellow{
    background:#f4b400;
}
.pulse-btn.blue{
    background:#4285f4;
}

.focus-card{
    margin-top:20px;
    background:#f1f1f1;
    padding:15px;
    border-radius:8px;
}

.mt{
    margin-top:25px;
}