*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
img {
  cursor: pointer;
}

.flex-div {
   display: flex;
    align-items: center;
}

nav {
  padding: 10px 2%; 
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right  img{
width: 25px;
margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}

.nav-left .logo {
  width: 130px;
}

.nav-middle .mic-icon {
  width: 16px;

}

.nav-middle .search-box {
border: 1px solid #ccc;
margin-right: 15px;
padding: 8px 12px;
border-radius: 25px;
}


.nav-middle .search-box input {
width: 400px;
border: 0;
outline: 0;
background: transparent;
}

.nav-middle .search-box img {
  width: 15px;
}


body{
    background:#f9f9f9;
}

.radar-page{
    margin-top:0px;
    padding:30px;
}

/* HEADER */
.radar-header{
    margin-bottom:20px;
}
.radar-header p{
    font-size:14px;
    color:#666;
}

/* STRIP */
.radar-strip{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}
.radar-chip{
    padding:8px 16px;
    background:#fff;
    border-radius:20px;
    cursor:pointer;
    font-size:14px;
}
.radar-chip.active,
.radar-chip:hover{
    background:red;
    color:white;
}

/* GRID */
.radar-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
    gap:20px;
}

.radar-card{
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    cursor:pointer;
    transition:transform .2s;
}
.radar-card:hover{
    transform:translateY(-5px);
}

.radar-card img{
    width:100%;
    height:150px;
    object-fit:cover;
}

.radar-info{
    padding:12px;
}
.radar-info p{
    font-size:13px;
    color:#666;
    margin:6px 0;
}

/* TAGS */
.tag{
    font-size:12px;
    padding:4px 10px;
    border-radius:12px;
    display:inline-block;
}
.green{background:#e6f7e6;color:#2e7d32;}
.red{background:#fdecea;color:#c62828;}
.blue{background:#e3f2fd;color:#1565c0;}
.purple{background:#f3e5f5;color:#6a1b9a;}

/* INSIGHT */
.radar-insight{
    margin-top:40px;
    background:#fff;
    padding:20px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}

.radar-insight button{
    padding:10px 18px;
    background:black;
    color:white;
    border:none;
    border-radius:20px;
    cursor:pointer;
}